**/target
**/.vscode
.env
examples/contracts/ethereum-vault-contract/cache
examples/contracts/ethereum-vault-contract/out
examples/contracts/ethereum-vault-contract/broadcast
examples/contracts/ethereum-vault-contract/lib/forge-std
examples/contracts/neutron-vault-contract/target
examples/contracts/neutron-vault-contract/atrifacts