[submodule "examples/storage-contract/lib/forge-std"]
	path = examples/storage-contract/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "examples/contracts/ethereum-storage-contract/lib/forge-std"]
	path = examples/contracts/ethereum-storage-contract/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
