**/target
**/.vscode
.env
examples/ethereum-storage-contract/cache
examples/ethereum-storage-contract/out
examples/ethereum-storage-contract/broadcast
examples/ethereum-storage-contract/lib
examples/neutron-storage-contract/target