**/target
**/.vscode
.env
examples/contracts/ethereum-storage-contract/cache
examples/contracts/ethereum-storage-contract/out
examples/contracts/ethereum-storage-contract/broadcast
examples/contracts/ethereum-storage-contract/lib/forge-std
examples/contracts/neutron-storage-contract/target